{"swagger":"2.0","info":{"version":"v1","title":"myprosperity API"},"host":"sandbox.api.myprosperity.com.au","schemes":["https"],"paths":{"/api/Account/Register":{"post":{"tags":["Account"],"summary":"Registers a new account.","operationId":"Account_Register","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The model for account registration information.","required":true,"schema":{"$ref":"#/definitions/RegisterViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Agents":{"get":{"tags":["Agents"],"summary":"Gets all partner agents in the current user's cobrand.","operationId":"Agents_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"imagesSize","in":"query","description":"When provided, overrides the default image sizes returned for each agent profile image.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TaxPartnerAgent"}}}}}},"/api/Agents/{id}":{"get":{"tags":["Agents"],"summary":"Gets a specific partner agents by ID.","operationId":"Agents_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"Agent's ID","required":true,"type":"integer","format":"int32"},{"name":"imageSize","in":"query","description":"When provided, overrides the default image size returned for the agent profile image.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TaxPartnerAgent"}}}}},"/api/AsxListedCompanies/AsxListedCompanies":{"get":{"tags":["AsxListedCompanies"],"summary":"Gets the list of ASX listed companies.","operationId":"AsxListedCompanies_AsxListedCompanies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"prefix","in":"query","description":"When provided, filters the returned list by code prefix.","required":false,"type":"string"},{"name":"isListed","in":"query","description":"When provided, filters the returned list by whether or not the company is still listed.","required":false,"type":"boolean"},{"name":"page","in":"query","description":"When provided, specifies the returned page number.","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"When provided, specifies the returned page size.","required":false,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"When provided, overrides the default sorting field. Default value is \"Code\". To be used with paging.","required":false,"type":"string"},{"name":"ascending","in":"query","description":"When provided, overrides the default sorting order. The default is ascending. To be used with paging.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[AsxListedCompany]"}}}}},"/api/AsxListedCompanies/AsxLatestSnapshotDate":{"get":{"tags":["AsxListedCompanies"],"summary":"Gets the latest ASX listed company snapshot date.","operationId":"AsxListedCompanies_AsxLatestSnapshotDate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"isListed","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"format":"date-time","type":"string"}}}}},"/api/AsxListedCompanies/AsxListedCompany":{"get":{"tags":["AsxListedCompanies"],"summary":"Gets a specific ASX listed company by code.","operationId":"AsxListedCompanies_AsxListedCompany","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"code","in":"query","description":"The ASX code.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AsxListedCompany"}}}}},"/api/Cashflow/CashflowTransactions":{"get":{"tags":["Cashflow"],"summary":"Gets the list of cashflow transactions for the current user.","operationId":"Cashflow_CashflowTransactions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"categories","in":"query","description":"When provided, filters the returned list by category IDs.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"tags","in":"query","description":"When provided, filters the returned list by tag IDs.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"wealthItems","in":"query","description":"When provided, filters the returned list by wealthItem IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"startDate","in":"query","description":"When provided, filters the returned list by date. Otherwise, startDate is set to the past 30 days by default.","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"When provided, filters the returned list by date. Otherwise , endDate is set to the today's by default.","required":false,"type":"string","format":"date-time"},{"name":"searchString","in":"query","description":"When provided, filters the returned list by searching in transaction description using the search term.","required":false,"type":"string"},{"name":"pendingReview","in":"query","description":"When provided, filters the returned list by whether or not the transaction is pending a review.","required":false,"type":"boolean"},{"name":"transactionType","in":"query","description":"When provided, filters the returned list by the transaction type. <br /> [0 = Debit,<br /> 1 = Credit]","required":false,"type":"integer","format":"int32","enum":[0,1]},{"name":"page","in":"query","description":"When provided, specifies the returned page number.","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"When provided, specifies the returned page size.","required":false,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"When provided, overrides the default sorting field. Default value is \"Date\". To be used with paging.","required":false,"type":"string"},{"name":"ascending","in":"query","description":"When provided, overrides the default sorting order. The default is descending. To be used with paging.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[CashflowTransactionSummary]"}}}},"post":{"tags":["Cashflow"],"summary":"Gets the list of cashflow transactions for the current user with the post request.","operationId":"Cashflow_CashflowTransactions","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cashflowCategoryFilter","in":"body","description":"Cashflow category filter values","required":true,"schema":{"$ref":"#/definitions/CashflowCategoryFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[CashflowTransactionSummary]"}}}}},"/api/Cashflow/CashflowCategoriesBudget":{"get":{"tags":["Cashflow"],"summary":"Gets the list of cashflow categories with their associated budgets for the current user.","operationId":"Cashflow_CashflowCategoriesBudget","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"categories","in":"query","description":"When provided, filters the returned list by category IDs.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"tags","in":"query","description":"When provided, filters the returned list by tag IDs.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"wealthItems","in":"query","description":"When provided, filters the returned list by wealthItem IDs.","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"startDate","in":"query","description":"When provided, filters the returned list by date. Otherwise, startDate is set to the past 30 days by default.","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"When provided, filters the returned list by date. Otherwise , endDate is set to the today's by default.","required":false,"type":"string","format":"date-time"},{"name":"searchString","in":"query","description":"When provided, filters the returned list by searching in transaction description using the search term.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CashflowCategoryBudget"}}}}},"post":{"tags":["Cashflow"],"summary":"Gets the list of cashflow categories with their associated budgets for the current user with the post request.","operationId":"Cashflow_CashflowCategoriesBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cashflowCategoryBudgetFilter","in":"body","description":"Cashflow category filter values","required":true,"schema":{"$ref":"#/definitions/CashflowCategoryBudgetFilter"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CashflowCategoryBudget"}}}}}},"/api/Cashflow/CashflowTransaction/{id}":{"get":{"tags":["Cashflow"],"summary":"Gets the details of a specific cashflow transaction.","operationId":"Cashflow_CashflowTransaction","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The transaction's ID.","required":true,"type":"integer","format":"int32"},{"name":"transactionAccountType","in":"query","description":"The transaction's account type. <br /> [1 = BANK,<br /> 2 = CARD,<br /> 3 = LOAN,<br /> 4 = INVESTMENT,<br /> 5 = NA]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,5]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashflowTransaction"}}}}},"/api/Cashflow/AddCashflowTransaction":{"post":{"tags":["Cashflow"],"summary":"Creates a new cashflow transaction for the current user.","operationId":"Cashflow_AddCashflowTransaction","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The cashflow transaction to be created.","required":true,"schema":{"$ref":"#/definitions/CashflowTransaction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashflowTransaction"}}}}},"/api/Cashflow/EditCashflowTransaction/{id}":{"post":{"tags":["Cashflow"],"summary":"Updates an existing cashflow transaction for the current user.","operationId":"Cashflow_EditCashflowTransaction","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The cashflow transaction's ID.","required":true,"type":"integer","format":"int32"},{"name":"transactionAccountType","in":"query","description":"The transaction's account type. <br /> [1 = BANK,<br /> 2 = CARD,<br /> 3 = LOAN,<br /> 4 = INVESTMENT,<br /> 5 = NA]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,5]},{"name":"model","in":"body","description":"The cashflow transaction to be updated.","required":true,"schema":{"$ref":"#/definitions/CashflowTransaction"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Cashflow/DeleteCashflowTransaction/{id}":{"post":{"tags":["Cashflow"],"summary":"Deletes a manual cashflow transaction for the current user.","operationId":"Cashflow_DeleteCashflowTransaction","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The cashflow transaction's ID.","required":true,"type":"integer","format":"int32"},{"name":"transactionAccountType","in":"query","description":"The transaction's account type. <br /> [1 = BANK,<br /> 2 = CARD,<br /> 3 = LOAN,<br /> 4 = INVESTMENT,<br /> 5 = NA]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,5]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Cashflow/AddCashflowTransactionRule":{"post":{"tags":["Cashflow"],"summary":"Creates a new cashflow transaction rule for the current user.","operationId":"Cashflow_AddCashflowTransactionRule","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The cashflow transaction rule to be created.","required":true,"schema":{"$ref":"#/definitions/CashflowTransactionRule"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashflowTransactionRuleTask"}}}}},"/api/Cashflow/CashflowTransactionRuleTask/{id}":{"get":{"tags":["Cashflow"],"summary":"Gets the status of a specific cashflow transaction rule task.","operationId":"Cashflow_CashflowTransactionRuleTask","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The cashflow transaction rule task's ID.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashflowTransactionRuleTask"}}}}},"/api/Cashflow/SetBudget":{"post":{"tags":["Cashflow"],"summary":"Sets the budget for specific cashflow category.","operationId":"Cashflow_SetBudget","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The model for cashflow budget information.","required":true,"schema":{"$ref":"#/definitions/CashflowBudgetViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Cashflow/TransactionTags":{"get":{"tags":["Cashflow"],"summary":"Gets all the transaction tags for the current user.","operationId":"Cashflow_TransactionTags","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CashflowTransactionTag"}}}}}},"/api/Cashflow/TransactionCategories":{"get":{"tags":["Cashflow"],"summary":"Gets all transaction categories for the current user.","operationId":"Cashflow_TransactionCategories","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"transactionTypes","in":"query","description":"When provided, filters the returned list of categories by transaction type.","required":true,"type":"array","items":{"type":"integer","format":"int32","enum":[1,2,3,4,5]},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TransactionCategory"}}}}}},"/api/Cashflow/FinancialAccountsWealthItems":{"get":{"tags":["Cashflow"],"summary":"Gets all financial account wealth items for the current user.","operationId":"Cashflow_FinancialAccountsWealthItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WealthItemSummary"}}}}}},"/api/Clients/Entities/{id}":{"get":{"tags":["Clients"],"summary":"Gets a specific entity client by id.","operationId":"Clients_GetEntityClient","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The entity client id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyClientDetails"}}}},"put":{"tags":["Clients"],"summary":"Updates an existing entity client for the current user.","operationId":"Clients_UpdateEntityClient","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The entity client's id.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The entity client's information to be updated.","required":true,"schema":{"$ref":"#/definitions/CompanyClientDetails"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Clients/Entities":{"post":{"tags":["Clients"],"summary":"Creates a new entity client for the current user.","operationId":"Clients_CreateEntityClient","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The entity client's information to be created.","required":true,"schema":{"$ref":"#/definitions/CompanyClientDetails"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyClientDetails"}}}}},"/api/Clients/People/{id}":{"get":{"tags":["Clients"],"summary":"Gets a specific person client by id.","operationId":"Clients_GetPersonClient","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The person client id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonClientDetails"}}}},"put":{"tags":["Clients"],"summary":"Updates an existing person client for the current user.","operationId":"Clients_UpdatePersonClient","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The person client's id.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The person client's information to be updated.","required":true,"schema":{"$ref":"#/definitions/PersonClientDetails"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Clients/People":{"post":{"tags":["Clients"],"summary":"Creates a new person client for the current user.","operationId":"Clients_CreatePersonClient","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The person client's information to be created.","required":true,"schema":{"$ref":"#/definitions/PersonClientDetails"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonClientDetails"}}}}},"/api/Clients/{id}":{"delete":{"tags":["Clients"],"summary":"Deletes an existing client given by the id.","operationId":"Clients_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The client's id.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Clients":{"get":{"tags":["Clients"],"summary":"Get clients which satisfies the given filter.","operationId":"Clients_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"page","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"ascending","in":"query","description":"","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[ClientDetailsLite]"}}}}},"/api/Countries":{"get":{"tags":["Countries"],"summary":"Gets the list of countries.","operationId":"Countries_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Country"}}}}}},"/api/DataDocuments/AccountsForSyncing":{"get":{"tags":["DataDocuments"],"summary":"Gets the accounts whose documents should be synced for a specific integration type.","operationId":"DataDocuments_AccountsForSyncing","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationType","in":"query","description":"The integration type. <br /> [1 = XEROWFM,<br /> 2 = MYOB,<br /> 3 = SalesForce,<br /> 4 = APS,<br /> 6 = XPlan,<br /> 7 = Intelliflo,<br /> 8 = MidwinterAdviceOs,<br /> 9 = XEROPM,<br /> 10 = FyiDocs,<br /> 11 = GreatSoft,<br /> 12 = SalesforceFinancialServicesCloud,<br /> 13 = Ioof2021,<br /> 14 = Dropbox,<br /> 15 = OneDrive,<br /> 16 = GoogleDrive,<br /> 17 = Box,<br /> 18 = SuiteFiles,<br /> 19 = BGL,<br /> 20 = Esl,<br /> 21 = AdobeSign,<br /> 22 = FuseSign,<br /> 23 = Annature,<br /> 24 = DocuSign,<br /> 25 = ClassSuper,<br /> 26 = ImplementedPortfolios,<br /> 27 = Hub24,<br /> 28 = NetWealth,<br /> 29 = ManagedAccounts,<br /> 30 = MasonStevens,<br /> 31 = Macquarie,<br /> 32 = Praemium,<br /> 33 = Ioof,<br /> 34 = Sharesight,<br /> 35 = MasonStevensRetail,<br /> 36 = WealthO2,<br /> 37 = AustralianMoneyMarket,<br /> 38 = Sentinel,<br /> 39 = Spitfire,<br /> 40 = Diy,<br /> 41 = Fundhost,<br /> 42 = Hub24Epi43,<br /> 43 = CFS,<br /> 44 = CfsEpi43,<br /> 45 = Hub24Api,<br /> 46 = ClassSuperOAuth,<br /> 47 = SharePoint,<br /> 48 = DocusignInternal,<br /> 49 = ClassSuperPM]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49]},{"name":"lastUpdatedThreshold","in":"query","description":"When provided, filters the returned list by only retrieving the accounts that haven't been synced since this date.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AccountsCredentialsGroupForIntegration[AccountForDocumentsIntegration]"}}}}}},"/api/DataDocuments/SaveDocumentsSynchronisationStatusForAccount":{"post":{"tags":["DataDocuments"],"summary":"Saves the document synchronisation status for a certain account.","operationId":"DataDocuments_SaveDocumentsSynchronisationStatusForAccount","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationType","in":"query","description":"The integration type. <br /> [1 = XEROWFM,<br /> 2 = MYOB,<br /> 3 = SalesForce,<br /> 4 = APS,<br /> 6 = XPlan,<br /> 7 = Intelliflo,<br /> 8 = MidwinterAdviceOs,<br /> 9 = XEROPM,<br /> 10 = FyiDocs,<br /> 11 = GreatSoft,<br /> 12 = SalesforceFinancialServicesCloud,<br /> 13 = Ioof2021,<br /> 14 = Dropbox,<br /> 15 = OneDrive,<br /> 16 = GoogleDrive,<br /> 17 = Box,<br /> 18 = SuiteFiles,<br /> 19 = BGL,<br /> 20 = Esl,<br /> 21 = AdobeSign,<br /> 22 = FuseSign,<br /> 23 = Annature,<br /> 24 = DocuSign,<br /> 25 = ClassSuper,<br /> 26 = ImplementedPortfolios,<br /> 27 = Hub24,<br /> 28 = NetWealth,<br /> 29 = ManagedAccounts,<br /> 30 = MasonStevens,<br /> 31 = Macquarie,<br /> 32 = Praemium,<br /> 33 = Ioof,<br /> 34 = Sharesight,<br /> 35 = MasonStevensRetail,<br /> 36 = WealthO2,<br /> 37 = AustralianMoneyMarket,<br /> 38 = Sentinel,<br /> 39 = Spitfire,<br /> 40 = Diy,<br /> 41 = Fundhost,<br /> 42 = Hub24Epi43,<br /> 43 = CFS,<br /> 44 = CfsEpi43,<br /> 45 = Hub24Api,<br /> 46 = ClassSuperOAuth,<br /> 47 = SharePoint,<br /> 48 = DocusignInternal,<br /> 49 = ClassSuperPM]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49]},{"name":"model","in":"body","description":"The detailed synchronisation status to be saved.","required":true,"schema":{"$ref":"#/definitions/SaveDocumentsSynchronisationStatusForAccountViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataDocuments/UploadDocumentForAccount":{"post":{"tags":["DataDocuments"],"summary":"Uploads a document file for a certain account.","description":"This endpoint accepts a body with a format of form-data. The file stream to be uploaded should be one of the form inputs, with a key of \"File\". The file to upload is a required field.","operationId":"DataDocuments_UploadDocumentForAccount","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationType","in":"query","description":"The integration type. <br /> [1 = XEROWFM,<br /> 2 = MYOB,<br /> 3 = SalesForce,<br /> 4 = APS,<br /> 6 = XPlan,<br /> 7 = Intelliflo,<br /> 8 = MidwinterAdviceOs,<br /> 9 = XEROPM,<br /> 10 = FyiDocs,<br /> 11 = GreatSoft,<br /> 12 = SalesforceFinancialServicesCloud,<br /> 13 = Ioof2021,<br /> 14 = Dropbox,<br /> 15 = OneDrive,<br /> 16 = GoogleDrive,<br /> 17 = Box,<br /> 18 = SuiteFiles,<br /> 19 = BGL,<br /> 20 = Esl,<br /> 21 = AdobeSign,<br /> 22 = FuseSign,<br /> 23 = Annature,<br /> 24 = DocuSign,<br /> 25 = ClassSuper,<br /> 26 = ImplementedPortfolios,<br /> 27 = Hub24,<br /> 28 = NetWealth,<br /> 29 = ManagedAccounts,<br /> 30 = MasonStevens,<br /> 31 = Macquarie,<br /> 32 = Praemium,<br /> 33 = Ioof,<br /> 34 = Sharesight,<br /> 35 = MasonStevensRetail,<br /> 36 = WealthO2,<br /> 37 = AustralianMoneyMarket,<br /> 38 = Sentinel,<br /> 39 = Spitfire,<br /> 40 = Diy,<br /> 41 = Fundhost,<br /> 42 = Hub24Epi43,<br /> 43 = CFS,<br /> 44 = CfsEpi43,<br /> 45 = Hub24Api,<br /> 46 = ClassSuperOAuth,<br /> 47 = SharePoint,<br /> 48 = DocusignInternal,<br /> 49 = ClassSuperPM]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49]},{"name":"accountGuid","in":"query","description":"The unique GUID of the account that the uploaded document belongs to.","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Document"}}}}},"/api/DataIntegrationActions/PendingIntegrationActions":{"get":{"tags":["DataIntegrationActions"],"summary":"Gets the pending integration actions of a specific type for a specific integration type.","operationId":"DataIntegrationActions_PendingIntegrationActions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationType","in":"query","description":"The integration type. <br /> [1 = XeroWFM,<br /> 2 = MYOB,<br /> 3 = ClassSuper,<br /> 4 = BGL,<br /> 5 = ImplementedPortfolios,<br /> 6 = Hub24,<br /> 7 = NetWealth,<br /> 8 = ManagedAccounts,<br /> 9 = MasonStevens,<br /> 10 = Macquarie,<br /> 11 = XPlan,<br /> 12 = Praemium,<br /> 13 = Ioof,<br /> 14 = Sharesight,<br /> 15 = MasonStevensRetail,<br /> 16 = WealthO2,<br /> 17 = AustralianMoneyMarket,<br /> 18 = Sentinel,<br /> 19 = Spitfire,<br /> 20 = Intelliflo,<br /> 21 = Diy,<br /> 22 = Fundhost,<br /> 23 = Salesforce,<br /> 24 = MidwinterAdviceOs,<br /> 25 = XeroPM,<br /> 26 = FyiDocs,<br /> 27 = GreatSoft,<br /> 28 = SalesforceFinancialServicesCloud,<br /> 29 = APS,<br /> 30 = Ioof2021,<br /> 31 = Dropbox,<br /> 32 = OneDrive,<br /> 33 = GoogleDrive,<br /> 34 = Box,<br /> 35 = SuiteFiles,<br /> 36 = Esl,<br /> 37 = AdobeSign,<br /> 38 = FuseSign,<br /> 39 = Annature,<br /> 40 = DocuSign,<br /> 41 = Hub24Epi43,<br /> 42 = CFS,<br /> 43 = CfsEpi43,<br /> 44 = Hub24Api,<br /> 45 = ClassSuperOAuth,<br /> 46 = SharePoint,<br /> 47 = DocuSignInternal,<br /> 48 = ClassSuperPM,<br /> -1 = Unknown]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,-1]},{"name":"integrationActionType","in":"query","description":"The integration action type. <br /> [1 = ClientImportIntegration,<br /> 2 = ClientExportIntegration]","required":true,"type":"integer","format":"int32","enum":[1,2]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IntegrationAction"}}}}}},"/api/DataIntegrationActions/PendingClientExportIntegrationActions":{"get":{"tags":["DataIntegrationActions"],"summary":"Gets the pending integration actions of type client export for a specific integration type.","description":"Only valid for client export integration actions.","operationId":"DataIntegrationActions_PendingClientExportIntegrationActions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationType","in":"query","description":"The integration type. <br /> [1 = XeroWFM,<br /> 2 = MYOB,<br /> 3 = ClassSuper,<br /> 4 = BGL,<br /> 5 = ImplementedPortfolios,<br /> 6 = Hub24,<br /> 7 = NetWealth,<br /> 8 = ManagedAccounts,<br /> 9 = MasonStevens,<br /> 10 = Macquarie,<br /> 11 = XPlan,<br /> 12 = Praemium,<br /> 13 = Ioof,<br /> 14 = Sharesight,<br /> 15 = MasonStevensRetail,<br /> 16 = WealthO2,<br /> 17 = AustralianMoneyMarket,<br /> 18 = Sentinel,<br /> 19 = Spitfire,<br /> 20 = Intelliflo,<br /> 21 = Diy,<br /> 22 = Fundhost,<br /> 23 = Salesforce,<br /> 24 = MidwinterAdviceOs,<br /> 25 = XeroPM,<br /> 26 = FyiDocs,<br /> 27 = GreatSoft,<br /> 28 = SalesforceFinancialServicesCloud,<br /> 29 = APS,<br /> 30 = Ioof2021,<br /> 31 = Dropbox,<br /> 32 = OneDrive,<br /> 33 = GoogleDrive,<br /> 34 = Box,<br /> 35 = SuiteFiles,<br /> 36 = Esl,<br /> 37 = AdobeSign,<br /> 38 = FuseSign,<br /> 39 = Annature,<br /> 40 = DocuSign,<br /> 41 = Hub24Epi43,<br /> 42 = CFS,<br /> 43 = CfsEpi43,<br /> 44 = Hub24Api,<br /> 45 = ClassSuperOAuth,<br /> 46 = SharePoint,<br /> 47 = DocuSignInternal,<br /> 48 = ClassSuperPM,<br /> -1 = Unknown]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,-1]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ClientExportIntegrationAction"}}}}}},"/api/DataIntegrationActions/PendingClientExportIntegrationAction/{id}":{"get":{"tags":["DataIntegrationActions"],"summary":"Gets a specific pending integration action of type client export by ID.","description":"Only valid for client export integration actions.","operationId":"DataIntegrationActions_PendingClientExportIntegrationAction","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The integration action's ID.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ClientExportIntegrationAction"}}}}}},"/api/DataIntegrationActions/AddPartnerAgentsForImport":{"post":{"tags":["DataIntegrationActions"],"summary":"Adds partner agents to be imported for a specific integration action.","description":"Only new items will be added. Items with an external ID that's previously been added will be ignored. This action is only valid for client import integration actions.","operationId":"DataIntegrationActions_AddPartnerAgentsForImport","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The partner agents information to be imported.","required":true,"schema":{"$ref":"#/definitions/AddPartnerAgentsForImportViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationActions/AddClientsForImport":{"post":{"tags":["DataIntegrationActions"],"summary":"Adds clients to be imported for a specific integration action.","description":"Only new items will be added. Items with an external ID that's previously been added will be ignored. This action is only valid for client import integration actions.","operationId":"DataIntegrationActions_AddClientsForImport","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The clients information to be imported.","required":true,"schema":{"$ref":"#/definitions/AddClientsForImportViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationActions/AddEntitiesForImport":{"post":{"tags":["DataIntegrationActions"],"summary":"Adds entities to be imported for a specific integration action.","description":"Only new items will be added. Items with an external ID that's previously been added will be ignored. This action is only valid for client import integration actions.","operationId":"DataIntegrationActions_AddEntitiesForImport","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The entities information to be imported.","required":true,"schema":{"$ref":"#/definitions/AddEntitiesForImportViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationActions/AddInvestmentFundsForImport":{"post":{"tags":["DataIntegrationActions"],"summary":"Adds investment funds to be imported for a specific integration action.","description":"Only new items will be added. Items with an external ID that's previously been added will be ignored. This action is only valid for client import integration actions.","operationId":"DataIntegrationActions_AddInvestmentFundsForImport","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The investment funds information to be imported.","required":true,"schema":{"$ref":"#/definitions/AddInvestmentFundsForImportViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationActions/PrepareReviewForImport":{"post":{"tags":["DataIntegrationActions"],"summary":"Moves the status of a given import integration action to be ready for review.","description":"Only valid for client import integration actions.","operationId":"DataIntegrationActions_PrepareReviewForImport","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationActionId","in":"query","description":"The specific integration action ID.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationActions/ReportClientImportIntegrationActionFailure":{"post":{"tags":["DataIntegrationActions"],"summary":"Marks a client import integration action as failed if fetching data to be imported wasn't successful.","description":"Only valid for client import integration actions.","operationId":"DataIntegrationActions_ReportClientImportIntegrationActionFailure","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The integration action details to mark as failed.","required":true,"schema":{"$ref":"#/definitions/ReportClientImportIntegrationActionFailureViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationActions/SaveIntegrationActionStatusForClientExport":{"post":{"tags":["DataIntegrationActions"],"summary":"Saves the export status for a certain integration action of type client export.","description":"A status should be reported for each client that was part of this export operation. Only valid for client export integration actions.","operationId":"DataIntegrationActions_SaveIntegrationActionStatusForClientExport","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The detailed export status to be saved.","required":true,"schema":{"$ref":"#/definitions/SaveIntegrationActionStatusForClientExportViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationActions/ReportClientExportIntegrationActionFailure":{"post":{"tags":["DataIntegrationActions"],"summary":"Marks a client export integration action as failed if a critical error was encountered while trying to save the data to be third-party system.","description":"Only valid for client export integration actions.","operationId":"DataIntegrationActions_ReportClientExportIntegrationActionFailure","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The integration action details to mark as failed.","required":true,"schema":{"$ref":"#/definitions/ReportClientExportIntegrationActionFailureViewModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationActions/SaveCredentials":{"post":{"tags":["DataIntegrationActions"],"summary":"Updates the credentials for a certain cobrand and integration type.","operationId":"DataIntegrationActions_SaveCredentials","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"credentialsCobrandGuid","in":"query","description":"The unique GUID for the cobrand owning the credentials.","required":true,"type":"string"},{"name":"integrationType","in":"query","description":"The integration type. <br /> [1 = XeroWFM,<br /> 2 = MYOB,<br /> 3 = ClassSuper,<br /> 4 = BGL,<br /> 5 = ImplementedPortfolios,<br /> 6 = Hub24,<br /> 7 = NetWealth,<br /> 8 = ManagedAccounts,<br /> 9 = MasonStevens,<br /> 10 = Macquarie,<br /> 11 = XPlan,<br /> 12 = Praemium,<br /> 13 = Ioof,<br /> 14 = Sharesight,<br /> 15 = MasonStevensRetail,<br /> 16 = WealthO2,<br /> 17 = AustralianMoneyMarket,<br /> 18 = Sentinel,<br /> 19 = Spitfire,<br /> 20 = Intelliflo,<br /> 21 = Diy,<br /> 22 = Fundhost,<br /> 23 = Salesforce,<br /> 24 = MidwinterAdviceOs,<br /> 25 = XeroPM,<br /> 26 = FyiDocs,<br /> 27 = GreatSoft,<br /> 28 = SalesforceFinancialServicesCloud,<br /> 29 = APS,<br /> 30 = Ioof2021,<br /> 31 = Dropbox,<br /> 32 = OneDrive,<br /> 33 = GoogleDrive,<br /> 34 = Box,<br /> 35 = SuiteFiles,<br /> 36 = Esl,<br /> 37 = AdobeSign,<br /> 38 = FuseSign,<br /> 39 = Annature,<br /> 40 = DocuSign,<br /> 41 = Hub24Epi43,<br /> 42 = CFS,<br /> 43 = CfsEpi43,<br /> 44 = Hub24Api,<br /> 45 = ClassSuperOAuth,<br /> 46 = SharePoint,<br /> 47 = DocuSignInternal,<br /> 48 = ClassSuperPM,<br /> -1 = Unknown]","required":true,"type":"integer","format":"int32","enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,-1]},{"name":"credentials","in":"body","description":"The new credentials.","required":true,"schema":{"type":"object"}},{"name":"credentialsAccountLoginGuid","in":"query","description":"The unique GUID for the user owning the credentials. A null value indicates that the integration credentials are owned at the firm level.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationLogs/AddLogs":{"post":{"tags":["DataIntegrationLogs"],"summary":"Logs status messages.","operationId":"DataIntegrationLogs_AddLogs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationLogs","in":"body","description":"Represents the list of IntegrationLog models to be logged.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IntegrationLog"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationLogs/AddLogsForItem":{"post":{"tags":["DataIntegrationLogs"],"summary":"Logs status messages where only the item reference in the model is known.","operationId":"DataIntegrationLogs_AddLogsForItem","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationLogForItems","in":"body","description":"Represents the list of IntegrationLog models to be logged where only the item is known.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IntegrationLogForItem"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataIntegrationStatuses/SaveStatuses":{"post":{"tags":["DataIntegrationStatuses"],"summary":"Saves integration statuses.","operationId":"DataIntegrationStatuses_SaveStatuses","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"integrationStatuses","in":"body","description":"The list of statuses to be saved.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IntegrationStatus"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataInvestmentFunds/InvestmentBrandsForUpdating":{"get":{"tags":["DataInvestmentFunds"],"summary":"Gets the investment brands that should be updated for a specific provider.","operationId":"DataInvestmentFunds_InvestmentBrandsForUpdating","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"investmentFundProvider","in":"query","description":"The investment fund provider. <br /> [0 = ClassSuper,<br /> 1 = BGL,<br /> 2 = ImplementedPortfolios,<br /> 3 = Hub24,<br /> 4 = Netwealth,<br /> 5 = ManagedAccounts,<br /> 6 = MasonStevens,<br /> 7 = MacquarieWrap,<br /> 8 = MacquarieCash,<br /> 9 = XPlan,<br /> 10 = Praemium,<br /> 11 = IoofLts,<br /> 12 = IoofMax,<br /> 13 = IoofTas,<br /> 14 = Sharesight,<br /> 15 = MasonStevensRetail,<br /> 16 = WealthO2,<br /> 17 = AustralianMoneyMarket,<br /> 18 = Sentinel,<br /> 19 = Spitfire,<br /> 20 = Diy,<br /> 21 = Fundhost,<br /> 22 = IoofLts2021,<br /> 23 = IoofMax2021,<br /> 24 = Hub24Epi43,<br /> 25 = CfsEpi43,<br /> 26 = ClassSuperOAuth]","required":true,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]},{"name":"lastUpdatedThreshold","in":"query","description":"When provided, filters the returned list by only retrieving the funds that haven't been updated since this date.","required":false,"type":"string","format":"date-time"},{"name":"validatePartnerAgentCredentials","in":"query","description":"When provided, filters the returned list by funds with valid credentials","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InvestmentBrand"}}}}}},"/api/DataInvestmentFunds/UpdateInvestmentFundsListForBrand":{"post":{"tags":["DataInvestmentFunds"],"summary":"Updates the list of funds for a certain brand.","operationId":"DataInvestmentFunds_UpdateInvestmentFundsListForBrand","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"funds","in":"body","description":"The list of funds to insert or update.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InvestmentFund"}}},{"name":"brandId","in":"query","description":"The ID for the brand to update.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataInvestmentFunds/InvestmentFundsForUpdating":{"get":{"tags":["DataInvestmentFunds"],"summary":"Gets the investment funds that should be updated for a specific provider.","operationId":"DataInvestmentFunds_InvestmentFundsForUpdating","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"investmentFundProvider","in":"query","description":"The investment fund provider. <br /> [0 = ClassSuper,<br /> 1 = BGL,<br /> 2 = ImplementedPortfolios,<br /> 3 = Hub24,<br /> 4 = Netwealth,<br /> 5 = ManagedAccounts,<br /> 6 = MasonStevens,<br /> 7 = MacquarieWrap,<br /> 8 = MacquarieCash,<br /> 9 = XPlan,<br /> 10 = Praemium,<br /> 11 = IoofLts,<br /> 12 = IoofMax,<br /> 13 = IoofTas,<br /> 14 = Sharesight,<br /> 15 = MasonStevensRetail,<br /> 16 = WealthO2,<br /> 17 = AustralianMoneyMarket,<br /> 18 = Sentinel,<br /> 19 = Spitfire,<br /> 20 = Diy,<br /> 21 = Fundhost,<br /> 22 = IoofLts2021,<br /> 23 = IoofMax2021,<br /> 24 = Hub24Epi43,<br /> 25 = CfsEpi43,<br /> 26 = ClassSuperOAuth]","required":true,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]},{"name":"lastUpdatedThreshold","in":"query","description":"When provided, filters the returned list by only retrieving the funds that haven't been updated since this date.","required":false,"type":"string","format":"date-time"},{"name":"page","in":"query","description":"When provided, specifies the returned page number.","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"When provided, specifies the returned page size.","required":false,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"When provided, overrides the default sorting field. Default value is \"FundName\". To be used with paging.","required":false,"type":"string"},{"name":"ascending","in":"query","description":"When provided, overrides the default sorting order. The default is ascending. To be used with paging.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[InvestmentFund]"}}}}},"/api/DataInvestmentFunds/InvestmentFundsForUpdatingWithValidCredentials":{"get":{"tags":["DataInvestmentFunds"],"summary":"Gets the investment funds that should be updated for a specific provider\r\n- checks to ensure the linked integration vault credentials are valid","operationId":"DataInvestmentFunds_InvestmentFundsForUpdatingWithValidCredentials","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"investmentFundProvider","in":"query","description":"The investment fund provider. <br /> [0 = ClassSuper,<br /> 1 = BGL,<br /> 2 = ImplementedPortfolios,<br /> 3 = Hub24,<br /> 4 = Netwealth,<br /> 5 = ManagedAccounts,<br /> 6 = MasonStevens,<br /> 7 = MacquarieWrap,<br /> 8 = MacquarieCash,<br /> 9 = XPlan,<br /> 10 = Praemium,<br /> 11 = IoofLts,<br /> 12 = IoofMax,<br /> 13 = IoofTas,<br /> 14 = Sharesight,<br /> 15 = MasonStevensRetail,<br /> 16 = WealthO2,<br /> 17 = AustralianMoneyMarket,<br /> 18 = Sentinel,<br /> 19 = Spitfire,<br /> 20 = Diy,<br /> 21 = Fundhost,<br /> 22 = IoofLts2021,<br /> 23 = IoofMax2021,<br /> 24 = Hub24Epi43,<br /> 25 = CfsEpi43,<br /> 26 = ClassSuperOAuth]","required":true,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]},{"name":"lastUpdatedThreshold","in":"query","description":"When provided, filters the returned list by only retrieving the funds that haven't been updated since this date.","required":false,"type":"string","format":"date-time"},{"name":"page","in":"query","description":"When provided, specifies the returned page number.","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"When provided, specifies the returned page size.","required":false,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"When provided, overrides the default sorting field. Default value is \"FundName\". To be used with paging.","required":false,"type":"string"},{"name":"ascending","in":"query","description":"When provided, overrides the default sorting order. The default is ascending. To be used with paging.","required":false,"type":"boolean"},{"name":"validatePartnerAgentCredentials","in":"query","description":"Ensure fund credentials are valid","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[InvestmentFund]"}}}}},"/api/DataInvestmentFunds/UpdateInvestmentAccounts":{"post":{"tags":["DataInvestmentFunds"],"summary":"Updates investment fund details.","operationId":"DataInvestmentFunds_UpdateInvestmentAccounts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"accounts","in":"body","description":"The list of funds/accounts to be updated.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/InvestmentAccount"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataInvestmentFunds/UpdateCredentialsForInvestmentBrand":{"post":{"tags":["DataInvestmentFunds"],"summary":"Updates the credentials for a certain investment brand.","operationId":"DataInvestmentFunds_UpdateCredentialsForInvestmentBrand","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"brandId","in":"query","description":"The investment brand's ID.","required":true,"type":"integer","format":"int32"},{"name":"fundProvider","in":"query","description":"The investment fund provider. <br /> [0 = ClassSuper,<br /> 1 = BGL,<br /> 2 = ImplementedPortfolios,<br /> 3 = Hub24,<br /> 4 = Netwealth,<br /> 5 = ManagedAccounts,<br /> 6 = MasonStevens,<br /> 7 = MacquarieWrap,<br /> 8 = MacquarieCash,<br /> 9 = XPlan,<br /> 10 = Praemium,<br /> 11 = IoofLts,<br /> 12 = IoofMax,<br /> 13 = IoofTas,<br /> 14 = Sharesight,<br /> 15 = MasonStevensRetail,<br /> 16 = WealthO2,<br /> 17 = AustralianMoneyMarket,<br /> 18 = Sentinel,<br /> 19 = Spitfire,<br /> 20 = Diy,<br /> 21 = Fundhost,<br /> 22 = IoofLts2021,<br /> 23 = IoofMax2021,<br /> 24 = Hub24Epi43,<br /> 25 = CfsEpi43,<br /> 26 = ClassSuperOAuth]","required":true,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]},{"name":"newCredentials","in":"body","description":"The new credentials.","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/DataInvestmentFunds/UpdateCredentialsForInvestmentFund":{"post":{"tags":["DataInvestmentFunds"],"summary":"Updates the credentials for a certain investment fund.","operationId":"DataInvestmentFunds_UpdateCredentialsForInvestmentFund","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fundId","in":"query","description":"The investment fund's ID","required":true,"type":"integer","format":"int32"},{"name":"fundProvider","in":"query","description":"The investment fund provider <br /> [0 = ClassSuper,<br /> 1 = BGL,<br /> 2 = ImplementedPortfolios,<br /> 3 = Hub24,<br /> 4 = Netwealth,<br /> 5 = ManagedAccounts,<br /> 6 = MasonStevens,<br /> 7 = MacquarieWrap,<br /> 8 = MacquarieCash,<br /> 9 = XPlan,<br /> 10 = Praemium,<br /> 11 = IoofLts,<br /> 12 = IoofMax,<br /> 13 = IoofTas,<br /> 14 = Sharesight,<br /> 15 = MasonStevensRetail,<br /> 16 = WealthO2,<br /> 17 = AustralianMoneyMarket,<br /> 18 = Sentinel,<br /> 19 = Spitfire,<br /> 20 = Diy,<br /> 21 = Fundhost,<br /> 22 = IoofLts2021,<br /> 23 = IoofMax2021,<br /> 24 = Hub24Epi43,<br /> 25 = CfsEpi43,<br /> 26 = ClassSuperOAuth]","required":true,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]},{"name":"newCredentials","in":"body","description":"The new credentials.","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Documents":{"get":{"tags":["Documents"],"summary":"Gets documents for the current user.","operationId":"Documents_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"parentId","in":"query","description":"When provided, only returns documents for a specific parent. This parameter should be used in association with parentType.","required":false,"type":"integer","format":"int32"},{"name":"parentType","in":"query","description":"When provided, only returns documents for a specific parent. This parameter should be used in association with parentId. <br /> [0 = None,<br /> 1 = WealthItem,<br /> 2 = WealthItemHistoryItem,<br /> 3 = AdviceItem,<br /> 4 = OtherProtectionItem,<br /> 5 = BankTransaction,<br /> 6 = CardTransaction,<br /> 7 = LoanTransaction,<br /> 8 = InvestmentTransaction,<br /> 9 = Tax,<br /> 10 = TaxReturn,<br /> 11 = Entity,<br /> 12 = PlanToDo,<br /> 13 = PlanToDoNote,<br /> 14 = InsuranceItem,<br /> 15 = InsuranceItemHistoryItem,<br /> 16 = InsuranceItemNote,<br /> 17 = WealthItemNote,<br /> 18 = OtherProtectionItemNote,<br /> 19 = TaxNote,<br /> 20 = EntityNote,<br /> 21 = InsurancePolicy,<br /> 40 = Will]","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,40]},{"name":"documentType","in":"query","description":"When provided, only returns documents with the specific documentType. <br /> [0 = Tax,<br /> 1 = Will,<br /> 2 = Insurance,<br /> 3 = Receipt,<br /> 4 = WealthItem,<br /> 5 = Other,<br /> 6 = Room,<br /> 7 = AdviceItem,<br /> 8 = PowerOfAttorney,<br /> 9 = TaxReturn]","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9]},{"name":"searchString","in":"query","description":"When provided, filters the returned list by searching in document description using the search term.","required":false,"type":"string"},{"name":"thirdPartyIntegrationType","in":"query","description":"When provided, the returned items will have their ThirdPartyIntegrationExternalId field populated with the external IDs from the specified third-party system. <br /> [1 = XEROWFM,<br /> 2 = MYOB,<br /> 3 = SalesForce,<br /> 4 = APS,<br /> 6 = XPlan,<br /> 7 = Intelliflo,<br /> 8 = MidwinterAdviceOs,<br /> 9 = XEROPM,<br /> 10 = FyiDocs,<br /> 11 = GreatSoft,<br /> 12 = SalesforceFinancialServicesCloud,<br /> 13 = Ioof2021,<br /> 14 = Dropbox,<br /> 15 = OneDrive,<br /> 16 = GoogleDrive,<br /> 17 = Box,<br /> 18 = SuiteFiles,<br /> 19 = BGL,<br /> 20 = Esl,<br /> 21 = AdobeSign,<br /> 22 = FuseSign,<br /> 23 = Annature,<br /> 24 = DocuSign,<br /> 25 = ClassSuper,<br /> 26 = ImplementedPortfolios,<br /> 27 = Hub24,<br /> 28 = NetWealth,<br /> 29 = ManagedAccounts,<br /> 30 = MasonStevens,<br /> 31 = Macquarie,<br /> 32 = Praemium,<br /> 33 = Ioof,<br /> 34 = Sharesight,<br /> 35 = MasonStevensRetail,<br /> 36 = WealthO2,<br /> 37 = AustralianMoneyMarket,<br /> 38 = Sentinel,<br /> 39 = Spitfire,<br /> 40 = Diy,<br /> 41 = Fundhost,<br /> 42 = Hub24Epi43,<br /> 43 = CFS,<br /> 44 = CfsEpi43,<br /> 45 = Hub24Api,<br /> 46 = ClassSuperOAuth,<br /> 47 = SharePoint,<br /> 48 = DocusignInternal,<br /> 49 = ClassSuperPM]","required":false,"type":"integer","format":"int32","enum":[1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49]},{"name":"page","in":"query","description":"When provided, specifies the returned page number.","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"When provided, specifies the returned page size.","required":false,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"When provided, overrides the default sorting field. Default value is \"Created\". To be used with paging.","required":false,"type":"string"},{"name":"ascending","in":"query","description":"When provided, overrides the default sorting order. The default is descending. To be used with paging.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[Document]"}}}},"post":{"tags":["Documents"],"summary":"Creates a new document for the current user.","description":"This endpoint accepts a body with a format of form-data. The file stream to be uploaded should be one of the form inputs, with a key of \"File\". The file to upload is a required field.","operationId":"Documents_Post","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"thirdPartyIntegrationType","in":"query","description":"When provided, the created item will have its ThirdPartyIntegrationExternalId field populated with the external ID from the specified third-party system. <br /> [1 = XEROWFM,<br /> 2 = MYOB,<br /> 3 = SalesForce,<br /> 4 = APS,<br /> 6 = XPlan,<br /> 7 = Intelliflo,<br /> 8 = MidwinterAdviceOs,<br /> 9 = XEROPM,<br /> 10 = FyiDocs,<br /> 11 = GreatSoft,<br /> 12 = SalesforceFinancialServicesCloud,<br /> 13 = Ioof2021,<br /> 14 = Dropbox,<br /> 15 = OneDrive,<br /> 16 = GoogleDrive,<br /> 17 = Box,<br /> 18 = SuiteFiles,<br /> 19 = BGL,<br /> 20 = Esl,<br /> 21 = AdobeSign,<br /> 22 = FuseSign,<br /> 23 = Annature,<br /> 24 = DocuSign,<br /> 25 = ClassSuper,<br /> 26 = ImplementedPortfolios,<br /> 27 = Hub24,<br /> 28 = NetWealth,<br /> 29 = ManagedAccounts,<br /> 30 = MasonStevens,<br /> 31 = Macquarie,<br /> 32 = Praemium,<br /> 33 = Ioof,<br /> 34 = Sharesight,<br /> 35 = MasonStevensRetail,<br /> 36 = WealthO2,<br /> 37 = AustralianMoneyMarket,<br /> 38 = Sentinel,<br /> 39 = Spitfire,<br /> 40 = Diy,<br /> 41 = Fundhost,<br /> 42 = Hub24Epi43,<br /> 43 = CFS,<br /> 44 = CfsEpi43,<br /> 45 = Hub24Api,<br /> 46 = ClassSuperOAuth,<br /> 47 = SharePoint,<br /> 48 = DocusignInternal,<br /> 49 = ClassSuperPM]","required":false,"type":"integer","format":"int32","enum":[1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49]},{"name":"sendNotification","in":"query","description":"If true, a notification will be sent to the account owners. This is a partner-only feature.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Document"}}}}},"/api/Documents/{id}":{"get":{"tags":["Documents"],"summary":"Gets a specific document by ID.","operationId":"Documents_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The document's ID.","required":true,"type":"integer","format":"int32"},{"name":"thirdPartyIntegrationType","in":"query","description":"When provided, the returned item will have their ThirdPartyIntegrationExternalId field populated with the external ID from the specified third-party system. <br /> [1 = XEROWFM,<br /> 2 = MYOB,<br /> 3 = SalesForce,<br /> 4 = APS,<br /> 6 = XPlan,<br /> 7 = Intelliflo,<br /> 8 = MidwinterAdviceOs,<br /> 9 = XEROPM,<br /> 10 = FyiDocs,<br /> 11 = GreatSoft,<br /> 12 = SalesforceFinancialServicesCloud,<br /> 13 = Ioof2021,<br /> 14 = Dropbox,<br /> 15 = OneDrive,<br /> 16 = GoogleDrive,<br /> 17 = Box,<br /> 18 = SuiteFiles,<br /> 19 = BGL,<br /> 20 = Esl,<br /> 21 = AdobeSign,<br /> 22 = FuseSign,<br /> 23 = Annature,<br /> 24 = DocuSign,<br /> 25 = ClassSuper,<br /> 26 = ImplementedPortfolios,<br /> 27 = Hub24,<br /> 28 = NetWealth,<br /> 29 = ManagedAccounts,<br /> 30 = MasonStevens,<br /> 31 = Macquarie,<br /> 32 = Praemium,<br /> 33 = Ioof,<br /> 34 = Sharesight,<br /> 35 = MasonStevensRetail,<br /> 36 = WealthO2,<br /> 37 = AustralianMoneyMarket,<br /> 38 = Sentinel,<br /> 39 = Spitfire,<br /> 40 = Diy,<br /> 41 = Fundhost,<br /> 42 = Hub24Epi43,<br /> 43 = CFS,<br /> 44 = CfsEpi43,<br /> 45 = Hub24Api,<br /> 46 = ClassSuperOAuth,<br /> 47 = SharePoint,<br /> 48 = DocusignInternal,<br /> 49 = ClassSuperPM]","required":false,"type":"integer","format":"int32","enum":[1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Document"}}}},"put":{"tags":["Documents"],"summary":"Updates an existing document for the current user.","operationId":"Documents_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The document's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The document information to be updated.","required":true,"schema":{"$ref":"#/definitions/Document"}},{"name":"thirdPartyIntegrationType","in":"query","description":"When provided, the updated item will have its ThirdPartyIntegrationExternalId field populated with the external ID from the specified third-party system. <br /> [1 = XEROWFM,<br /> 2 = MYOB,<br /> 3 = SalesForce,<br /> 4 = APS,<br /> 6 = XPlan,<br /> 7 = Intelliflo,<br /> 8 = MidwinterAdviceOs,<br /> 9 = XEROPM,<br /> 10 = FyiDocs,<br /> 11 = GreatSoft,<br /> 12 = SalesforceFinancialServicesCloud,<br /> 13 = Ioof2021,<br /> 14 = Dropbox,<br /> 15 = OneDrive,<br /> 16 = GoogleDrive,<br /> 17 = Box,<br /> 18 = SuiteFiles,<br /> 19 = BGL,<br /> 20 = Esl,<br /> 21 = AdobeSign,<br /> 22 = FuseSign,<br /> 23 = Annature,<br /> 24 = DocuSign,<br /> 25 = ClassSuper,<br /> 26 = ImplementedPortfolios,<br /> 27 = Hub24,<br /> 28 = NetWealth,<br /> 29 = ManagedAccounts,<br /> 30 = MasonStevens,<br /> 31 = Macquarie,<br /> 32 = Praemium,<br /> 33 = Ioof,<br /> 34 = Sharesight,<br /> 35 = MasonStevensRetail,<br /> 36 = WealthO2,<br /> 37 = AustralianMoneyMarket,<br /> 38 = Sentinel,<br /> 39 = Spitfire,<br /> 40 = Diy,<br /> 41 = Fundhost,<br /> 42 = Hub24Epi43,<br /> 43 = CFS,<br /> 44 = CfsEpi43,<br /> 45 = Hub24Api,<br /> 46 = ClassSuperOAuth,<br /> 47 = SharePoint,<br /> 48 = DocusignInternal,<br /> 49 = ClassSuperPM]","required":false,"type":"integer","format":"int32","enum":[1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Documents"],"summary":"Deletes an existing document for the current user.","operationId":"Documents_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The document's ID.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/EmploymentDetails":{"get":{"tags":["EmploymentDetails"],"summary":"Get employment details paged results which satisfies the given filter.","operationId":"EmploymentDetails_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"page","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"ascending","in":"query","description":"","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[List[EmploymentDetails]]"}}}},"post":{"tags":["EmploymentDetails"],"summary":"Create new employment details.","operationId":"EmploymentDetails_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"employmentDetails","in":"body","description":"Available owners can be retrieved from /api/PersonalInfo/GetHouseholdOwners.","required":true,"schema":{"$ref":"#/definitions/EmploymentDetails"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmploymentDetails"}}}}},"/api/EmploymentDetails/{id}":{"get":{"tags":["EmploymentDetails"],"summary":"Gets employment details by id.","operationId":"EmploymentDetails_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmploymentDetails"}}}},"put":{"tags":["EmploymentDetails"],"summary":"Update existing item by id.","operationId":"EmploymentDetails_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"employmentDetails","in":"body","description":"Available owners can be retrieved from /api/PersonalInfo/GetHouseholdOwners.","required":true,"schema":{"$ref":"#/definitions/EmploymentDetails"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["EmploymentDetails"],"summary":"Delete employment details by id.","operationId":"EmploymentDetails_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/EntitiesRelationships":{"get":{"tags":["EntitiesRelationships"],"summary":"Gets the list of entities relationships.","operationId":"EntitiesRelationships_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"isProfessional","in":"query","description":"When provided, filters the returned list by whether or not the relationship is a professional one.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EntityRelationship"}}}}}},"/api/Expenses/{id}":{"get":{"tags":["Expenses"],"summary":"Get expense item by id.","operationId":"Expenses_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Expense"}}}},"put":{"tags":["Expenses"],"summary":"Update existing expense item by id.","operationId":"Expenses_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"expense","in":"body","description":"Available owners can be retrieved from /api/PersonalInfo/GetHouseholdOwners. Please note, if there are two owners, the ownership must be evenly split at 50% each.","required":true,"schema":{"$ref":"#/definitions/Expense"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Expenses"],"summary":"Delete expense item by id.","operationId":"Expenses_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Expenses":{"get":{"tags":["Expenses"],"summary":"Returns paged results of expenses.","operationId":"Expenses_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"page","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"ascending","in":"query","description":"","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[List[Expense]]"}}}},"post":{"tags":["Expenses"],"summary":"Create new expense item.","operationId":"Expenses_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"expense","in":"body","description":"Available owners can be retrieved from /api/PersonalInfo/GetHouseholdOwners. Please note, if there are two owners, the ownership must be evenly split at 50% each.","required":true,"schema":{"$ref":"#/definitions/Expense"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Expense"}}}}},"/api/FinancialInstruments/FinancialInstruments":{"get":{"tags":["FinancialInstruments"],"summary":"Gets the list of financial instruments for the specified exchange, instrument type, and instrument codes.","operationId":"FinancialInstruments_FinancialInstruments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"codes","in":"query","description":"The specific instrument codes to be returned.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"exchange","in":"query","description":"The exchange to retrieve instruments for. <br /> [0 = None,<br /> 1 = AMEX,<br /> 14 = NYSE,<br /> 19 = NasdaqUTP,<br /> 52 = MorningstarFunds,<br /> 127 = Toronto,<br /> 133 = TSE,<br /> 134 = HKEx,<br /> 136 = Shanghai,<br /> 143 = SSE,<br /> 151 = LSE,<br /> 160 = Euronext,<br /> 200 = DBSpotMarket]","required":false,"type":"integer","format":"int32","enum":[0,1,14,19,52,127,133,134,136,143,151,160,200]},{"name":"instrumentType","in":"query","description":"The type of instruments to return. <br /> [0 = None,<br /> 1 = Stocks,<br /> 8 = MutualFunds]","required":false,"type":"integer","format":"int32","enum":[0,1,8]},{"name":"page","in":"query","description":"When provided, specifies the returned page number.","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"When provided, specifies the returned page size.","required":false,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"When provided, overrides the default sorting field. Default value is \"Code\". To be used with paging.","required":false,"type":"string"},{"name":"ascending","in":"query","description":"When provided, overrides the default sorting order. The default is ascending. To be used with paging.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[FinancialInstrument]"}}}}},"/api/Goals/GoalsList":{"get":{"tags":["Goals"],"summary":"Gets goals for the current user.","operationId":"Goals_GoalsList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"displayStatuses","in":"query","description":"When provided, filters the returned list by the display status.","required":true,"type":"array","items":{"type":"integer","format":"int32","enum":[0,1,2,3]},"collectionFormat":"multi"},{"name":"goalType","in":"query","description":"When provided, filters the returned list by goal type. <br /> [0 = None,<br /> 1 = Savings,<br /> 2 = DebtReduction,<br /> 3 = Superannuation,<br /> 4 = RetirementGap,<br /> 5 = FirstHome,<br /> 6 = InvestmentProperty,<br /> 7 = UpgradeProperty,<br /> 8 = RenovateProperty,<br /> 9 = LifestyleProperty]","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9]},{"name":"goalItemImageSize","in":"query","description":"When provided, overrides the default image sizes returned for each goal.","required":false,"type":"string"},{"name":"page","in":"query","description":"When provided, specifies the returned page number.","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"When provided, specifies the returned page size.","required":false,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"When provided, overrides the default sorting field. Default value is \"Name\". To be used with paging.","required":false,"type":"string"},{"name":"ascending","in":"query","description":"When provided, overrides the default sorting order. The default is descending. To be used with paging.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[GoalSummary]"}}}}},"/api/Goals/GoalDetails/{id}":{"get":{"tags":["Goals"],"summary":"Gets a specific goal by ID.","description":"This endpoint currently only supports goals of types: Savings(1), DebtReduction(2)","operationId":"Goals_GoalDetails","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The goal's ID.","required":true,"type":"integer","format":"int32"},{"name":"goalItemImageSize","in":"query","description":"When provided, overrides the default image sizes returned for each goal.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Goal"}}}}},"/api/Goals/AddGoal":{"post":{"tags":["Goals"],"summary":"Creates a new goal for the current user.","operationId":"Goals_AddGoal","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The goal information to be created.","required":true,"schema":{"$ref":"#/definitions/Goal"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Goal"}}}}},"/api/Goals/EditGoal/{id}":{"post":{"tags":["Goals"],"summary":"Updates an existing goal for the current user.","operationId":"Goals_EditGoal","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The goal's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The goal information to be updated.","required":true,"schema":{"$ref":"#/definitions/Goal"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Goals/DeleteGoal/{id}":{"post":{"tags":["Goals"],"summary":"Deletes an existing goal for the current user.","operationId":"Goals_DeleteGoal","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The goal's ID.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Goals/CalculateSavings":{"post":{"tags":["Goals"],"summary":"Calculates goal details and projections for Savings goals.","operationId":"Goals_CalculateSavings","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","description":"The user input that should be used to generate the calculated output.","required":true,"schema":{"$ref":"#/definitions/SavingsGoalInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SavingsGoalOutput"}}}}},"/api/Goals/CalculateDebtReduction":{"post":{"tags":["Goals"],"summary":"Calculates goal details and projections for Debt Reduction goals.","operationId":"Goals_CalculateDebtReduction","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"input","in":"body","description":"The user input that should be used to generate the calculated output.","required":true,"schema":{"$ref":"#/definitions/DebtReductionGoalInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DebtReductionGoalOutput"}}}}},"/api/Goals/AccountsWealthItems":{"get":{"tags":["Goals"],"summary":"Gets all accounts for user's goal.","operationId":"Goals_AccountsWealthItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"goalType","in":"query","description":"goal's type <br /> [0 = None,<br /> 1 = Savings,<br /> 2 = DebtReduction,<br /> 3 = Superannuation,<br /> 4 = RetirementGap,<br /> 5 = FirstHome,<br /> 6 = InvestmentProperty,<br /> 7 = UpgradeProperty,<br /> 8 = RenovateProperty,<br /> 9 = LifestyleProperty]","required":true,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6,7,8,9]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WealthItemSummary"}}}}}},"/api/Images/ImageUrl":{"get":{"tags":["Images"],"summary":"Gets the complete URL for a certain image token.","description":"This end point will convert an image token to a complete URL for a given size configuration.","operationId":"Images_ImageUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"imageToken","in":"query","description":"The specified image token.","required":true,"type":"string"},{"name":"size","in":"query","description":"The required size for the returned image.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Incomes/{id}":{"get":{"tags":["Incomes"],"summary":"Get income item by id.","operationId":"Incomes_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Income"}}}},"put":{"tags":["Incomes"],"summary":"Update existing income item by id.","operationId":"Incomes_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"income","in":"body","description":"Available owners can be retrieved from /api/PersonalInfo/GetHouseholdOwners. Please note, if there are two owners, the ownership must be evenly split at 50% each.","required":true,"schema":{"$ref":"#/definitions/Income"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["Incomes"],"summary":"Delete income item by id.","operationId":"Incomes_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Incomes":{"get":{"tags":["Incomes"],"summary":"Returns paged results of incomes.","operationId":"Incomes_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"page","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"ascending","in":"query","description":"","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResults[List[Income]]"}}}},"post":{"tags":["Incomes"],"summary":"Create new income item.","operationId":"Incomes_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"income","in":"body","description":"Available owners can be retrieved from /api/PersonalInfo/GetHouseholdOwners. Please note, if there are two owners, the ownership must be evenly split at 50% each.","required":true,"schema":{"$ref":"#/definitions/Income"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Income"}}}}},"/api/InsuranceCovers/Health":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new health insurance cover for the current user.","operationId":"InsuranceCovers_CreateHealthCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The health insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsuranceHealthCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsuranceHealthCover"}}}}},"/api/InsuranceCovers/Health/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing health insurance cover for the current user.","operationId":"InsuranceCovers_UpdateHealthCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsuranceHealthCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/General/Boat":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new boat insurance cover for the current user.","operationId":"InsuranceCovers_CreateGeneralCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The boat insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsuranceGeneralBoatCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsuranceGeneralBoatCover"}}}}},"/api/InsuranceCovers/General/Vehicle":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new vehicle insurance cover for the current user.","operationId":"InsuranceCovers_CreateGeneralCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The vehicle insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsuranceGeneralVehicleCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsuranceGeneralVehicleCover"}}}}},"/api/InsuranceCovers/General/Generic":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new generic insurance cover for the current user.","operationId":"InsuranceCovers_CreateGeneralCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The generic insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsuranceGeneralGenericCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsuranceGeneralGenericCover"}}}}},"/api/InsuranceCovers/General/Boat/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing boat insurance cover for the current user.","operationId":"InsuranceCovers_UpdateGeneralCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsuranceGeneralBoatCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/General/Vehicle/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing vehicle insurance cover for the current user.","operationId":"InsuranceCovers_UpdateGeneralCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsuranceGeneralVehicleCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/General/Generic/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing generic insurance cover for the current user.","operationId":"InsuranceCovers_UpdateGeneralCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsuranceGeneralGenericCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/General/GenericCoverTypes":{"get":{"tags":["InsuranceCovers"],"summary":"Gets list of general cover generic types.","operationId":"InsuranceCovers_GeneralGenericCoverTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/KeyValuePair[Int32,String]"}}}}}},"/api/InsuranceCovers/Personal/Life":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new life insurance cover for the current user.","operationId":"InsuranceCovers_CreatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The life insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalLifeCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsurancePersonalLifeCover"}}}}},"/api/InsuranceCovers/Personal/Tpd":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new TPD insurance cover for the current user.","operationId":"InsuranceCovers_CreatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The TPD insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalTpdCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsurancePersonalTpdCover"}}}}},"/api/InsuranceCovers/Personal/Trauma":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new trauma insurance cover for the current user.","operationId":"InsuranceCovers_CreatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The trauma insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalTraumaCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsurancePersonalTraumaCover"}}}}},"/api/InsuranceCovers/Personal/IncomeProtection":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new income protection insurance cover for the current user.","operationId":"InsuranceCovers_CreatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The income protection insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalIncomeProtectionCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsurancePersonalIncomeProtectionCover"}}}}},"/api/InsuranceCovers/Personal/BusinessExpense":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new business expense insurance cover for the current user.","operationId":"InsuranceCovers_CreatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The business expense insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalBusinessExpenseCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsurancePersonalBusinessExpenseCover"}}}}},"/api/InsuranceCovers/Personal/AdditionalRiderBenefit":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new additional rider benefit insurance cover for the current user.","operationId":"InsuranceCovers_CreatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The additional rider benefit insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalAdditionalRiderBenefitCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsurancePersonalAdditionalRiderBenefitCover"}}}}},"/api/InsuranceCovers/Personal/SeverityBased":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new severity based insurance cover for the current user.","operationId":"InsuranceCovers_CreatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The severity based insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalSeverityBasedCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsurancePersonalSeverityBasedCover"}}}}},"/api/InsuranceCovers/Personal/BloodBorneDisease":{"post":{"tags":["InsuranceCovers"],"summary":"Creates a new blood-borne disease insurance cover for the current user.","operationId":"InsuranceCovers_CreatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The blood-borne disease insurance cover information to be created.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalBloodBorneDiseaseCover"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InsurancePersonalBloodBorneDiseaseCover"}}}}},"/api/InsuranceCovers/Personal/Life/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing life insurance cover for the current user.","operationId":"InsuranceCovers_UpdatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalLifeCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/Personal/Tpd/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing TPD insurance cover for the current user.","operationId":"InsuranceCovers_UpdatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalTpdCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/Personal/Trauma/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing trauma insurance cover for the current user.","operationId":"InsuranceCovers_UpdatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalTraumaCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/Personal/IncomeProtection/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing income protection insurance cover for the current user.","operationId":"InsuranceCovers_UpdatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalIncomeProtectionCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/Personal/BusinessExpense/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing business expense insurance cover for the current user.","operationId":"InsuranceCovers_UpdatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalBusinessExpenseCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/Personal/AdditionalRiderBenefit/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing additional rider benefit insurance cover for the current user.","operationId":"InsuranceCovers_UpdatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalAdditionalRiderBenefitCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/Personal/SeverityBased/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing severity based insurance cover for the current user.","operationId":"InsuranceCovers_UpdatePersonalCover","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The insurance cover's ID.","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The insurance cover's information to be updated.","required":true,"schema":{"$ref":"#/definitions/InsurancePersonalSeverityBasedCover"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InsuranceCovers/Personal/BloodBorneDisease/{id}":{"put":{"tags":["InsuranceCovers"],"summary":"Updates an existing blood-borne disease insurance cover for the current user.","operationId":"InsuranceCovers_UpdatePersonalCover","consumes":["application/json","text/js
[...]
